@using BussinessObject.Models;
@{
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	List<Match> matches = ViewData["matches"] as List<Match>;
	var role = TempData["Role"] as string;
}
@{
	Layout = "_demo";
	int round = ViewData["round"] as int? ?? 0;
}
@{
	int? currentRound = ViewBag.CurrentRound;
	SelectList rounds = ViewBag.Rounds;
}
<style>
	.player-avatar {
		width: 100px;
		height: 100px;
	}

	.Wrap {
		height: 100vh;
		overflow-y: scroll;
	}

		.Wrap::-webkit-scrollbar {
			display: none;
		}
</style>
<link rel="stylesheet" type="text/css" href="~/css/Player/PlayerIndex.css">

<div class="Wrap">
	<div class="container">

		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage1))
		{
			<div style="color:red" class="error-message">
				@ViewBag.ErrorMessage1
			</div>
		}
		<div class="grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						@if (role.Equals("Admin"))
						{
							<div style="float:right;margin-top:10px;margin-right:10px">
								<form method="post" action="/Match/GenerateMatches">
									<div class="form-group">
										<label for="round">Round:</label>
										<select class="form-control" id="round" name="round">
											@for (int i = 1; i <= 19; i++)
											{
												<option value="@i">@i</option>
											}
										</select>
									</div>
									<button type="submit" class="btn btn-primary">Generate</button>
								</form>
							</div>
						}
						<div style="float:left;display: flex; justify-content: center; align-items: center;margin-top:10px">
							<div>
								<h3 for="roundSelect">Round:</h3>
								@Html.DropDownList("round", rounds, "All", new { onchange = "location.href = '/Match?round=' + this.value;" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									@if (role.Equals("Admin"))
									{
										<th>Changes</th>
									}
									else
									{
										<th></th>
									}
								</tr>
							</thead>
							<tbody>
								@foreach (var match in matches)
								{
									<tr>
										<td>
											<img src="@match.HomeNavigation.Logo" alt="Avatar" class="player-avatar"><p>@match.HomeNavigation.Name</p>
											<a href="@Url.Action("Index", "PlayerMatchRegistration", new { clubId = match.Home,matchId = match.MatchId })" style="border-radius:8px; text-decoration: none;display:inline" class="btn btn-primary">Starting Lineup</a>
										</td>
										<td>
											<p>Round : @match.Round</p>
											<p>Stadium : @match.HomeNavigation.Stadium.Name</p><h5>@match.Ref.Name</h5>
											<h3>@match.Result</h3>
										</td>
										<td>
											<img src="@match.AwayNavigation.Logo" alt="Avatar" class="player-avatar"><p>@match.AwayNavigation.Name</p>
											<a href="@Url.Action("Index", "PlayerMatchRegistration", new { clubId = match.Away,matchId = match.MatchId })" style="border-radius:8px; text-decoration: none;display:inline" class="btn btn-primary">Starting Lineup</a>
										</td>
										<td>
											@if (match.Status == false)
											{
												<text>Not Start</text>
											}
											else
											{
												<text>Done</text>
											}
										</td>
										<td>
											@if (role.Equals("Admin"))
											{
												@if (match.Status == false)
												{
													<form action="@Url.Action("Edit", new { id = match.MatchId })" style="display:inline">
														<button type="submit" style="border-radius:8px; text-decoration: none" class="btn-link">Edit</button>
													</form>
													<form method="post" action="@Url.Action("Delete", new { id = match.MatchId })" style="display:inline">
														<button type="submit" style="border-radius:8px; text-decoration: none" class="btn-link" onclick="return confirmDelete()">Delete</button>
													</form>
												}
											}
											@if (match.Status == true)
											{
												<a href="@Url.Action("Index", "MatchDetail", new { matchId = match.MatchId })" style="border-radius:8px; text-decoration: none;display:inline" class="btn btn-primary">View Match Detail</a>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
