@model BussinessObject.Models.PlayerMatchRegistration
@{
	var player = ViewData["Player"] as SelectList;
	Layout = "_demo";
	<link rel="stylesheet" href="~/vendors/feather/feather.css">
	<link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="~/vendors/typicons/typicons.css">
	<link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<link rel="stylesheet" href="~/js/select.dataTables.min.css">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
	<!-- endinject -->
	<link rel="shortcut icon" href="images/favicon.png" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	<div class="grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					@if (TempData["SuccessMessage"] != null)
					{
						<div class="alert alert-success">@TempData["SuccessMessage"]</div>
					}

					@using (Html.BeginForm("Add", "PlayerMatchRegistration", FormMethod.Post))
					{
						<div hidden class="form-group">
							@Html.LabelFor(model => model.MatchId)
							@Html.HiddenFor(model => model.MatchId)
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.PlayerId)
							@Html.DropDownListFor(model => model.PlayerId, player, "Select Player", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.PlayerId)
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Position)
							<select class="form-control" id="Position" name="Position">
								<option value="GK">GK</option>
								<option value="DF">DF</option>
								<option value="MF">MF</option>
								<option value="CF">CF</option>
							</select>
						</div>

						<div style="margin-top:10px">
							<button type="submit" class="btn btn-primary">Save</button>
							<a href="/match" class="btn btn-secondary">Back</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
