@model BussinessObject.Models.Goal
@{
	var homeplayer = ViewData["HomePlayer"] as SelectList;
	var awayplayer = ViewData["AwayPlayer"] as SelectList;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">@TempData["SuccessMessage"]</div>
	}

	@using (Html.BeginForm("Add", "MatchDetail", FormMethod.Post))
	{
		<div hidden class="form-group">
			@Html.LabelFor(model => model.MatchId)
			@Html.HiddenFor(model => model.MatchId)
		</div>

		<label for="HomePlayer">Home Player:</label>
		@Html.DropDownList("HomePlayer", ViewData["HomePlayer"] as SelectList)
		<input type="submit" value="Add Home Player Goal" />

		<label for="AwayPlayer">Away Player:</label>
		@Html.DropDownList("AwayPlayer", ViewData["AwayPlayer"] as SelectList)
		<input type="submit" value="Add Away Player Goal" />
	}
</div>
